.hero-form__label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-top: 24px;
}
.hero-form__input {
  width: 100%;
  display: block;
  height: 53px;
  background-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
  border-radius: 10px;
  padding: 16px 24px;
  margin-top: 16px;
  border: 0;
  outline: none;
}
.hero-form__input:disabled {
  color: #888;
  border: 1px dashed #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}
.hero-form__input:focus, .hero-form__input:active {
  background-color: #fff;
}
.hero-form .submit {
  background-color: #0578FF;
  border-radius: 10px;
  height: 62px;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  width: 100%;
  border: 0;
  margin-top: 24px;
}

.trip-type {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  height: 34px;
  padding: 3px 8px;
}
.trip-type label {
  font-size: 12px;
}
.trip-type input {
  margin: 0;
}
.trip-type .radio-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}
.trip-type .counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 88px;
  font-size: 12px;
  font-weight: 500;
}
.trip-type .counter button {
  background: none;
  border: 0;
  font-size: 21px;
}
.trip-type .counter button:last-child {
  color: #0578FF;
}

.calendar-input-wrapper, .calendar-input-wrapper-last {
  position: relative;
}
.calendar-input-wrapper::before, .calendar-input-wrapper-last::before {
  display: block;
  position: absolute;
  width: 15.5px;
  height: 16px;
  left: 24px;
  top: 18.5px;
  content: "";
  background-image: url("../../assets/icons/calendar_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.calendar-input-wrapper input, .calendar-input-wrapper-last input {
  padding-left: 52px;
}

.calendar-input-wrapper-last-hidden {
  display: none;
}

@media (min-width: 768px) {
  .trip-type {
    padding: 8px 12px;
  }
  .trip-type label {
    font-size: 14px;
  }
  .trip-type .counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88px;
    font-size: 14px;
    font-weight: 500;
  }
  .pick_date {
    display: flex;
    direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 32px;
  }
  .pick_date__section {
    width: 50%;
  }
  .pick_date__section input {
    height: 53px;
  }
  .last-input-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .calendar-input-wrapper-last {
    position: relative;
  }
  .calendar-input-wrapper-last::before {
    display: block;
    position: absolute;
    width: 15.5px;
    height: 16px;
    left: 24px;
    top: 33.5px;
    content: "";
    background-image: url("../../assets/icons/calendar_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
.autocomplete-list {
  position: absolute;
  background: white;
  z-index: 100;
  width: 304px;
  background-color: #fff;
}

.autocomplete-item {
  padding: 12px 24px;
  cursor: pointer;
  font-size: 14px;
}

.autocomplete-item:hover {
  background: #eee;
}/*# sourceMappingURL=hero-form.css.map */