.faqs 
    display: block 
    font-family: sans-serif
    margin: 64px 20px
    max-width: 1086px
    align-items: center
    text-align: center

    h1 
      font-size: 40px
      font-weight: bold
      margin-bottom: 30px
    

    .intro strong 
      display: block
      font-size: 20px
      margin-bottom: 10px
    

    .intro p 
      color: #444
    

    .faq 
      border-top: 1px solid #ccc

    .faq.first
      border-top: none

    .faq-header 
      display: flex
      justify-content: space-between
      align-items: center
      cursor: pointer
      padding: 20px 0
    

    .faq-content 
      display: none
      padding-bottom: 15px
      color: #444
    

    .faq.active .faq-content 
      display: block
    

    .faq-header span 
      font-size: 24px
    