.faqs 
    display: flex
    margin: 64px auto 128px auto
    max-width: 1086px
    align-items: center
    text-align: center

    .container 
      width: 100%
    
    h1 
      font-size: 64px
      font-weight: bold
      text-align: left
      font-weight: 700
      margin-bottom: 30px
    
    .intro strong 
      display: block
      font-size: 20px
      margin-bottom: 10px
    

    .intro p 
      color: #444
    

    .faq 
      border-top: 1px solid #ccc

    .faq.first
      border-top: none

    .faq-header 
      display: flex
      justify-content: space-between
      align-items: center
      cursor: pointer
      padding: 20px 0
    

    .faq-content 
      display: none
      padding-bottom: 15px
      color: #444
    

    .faq.active .faq-content 
      display: block
    

    .faq-header span 
      font-size: 24px
    